{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Painel Administrativo</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card admin-card">
                <img src="{% static 'images/ranking1.png' %}" class="card-img-top admin-card-img" alt="Ranking">
                <div class="card-body text-center">
                    <h5 class="card-title">Ranking e Certificados</h5>
                    <p class="card-text">Visualize o ranking dos candidatos por nota.</p>
                    <a href="{% url 'ranking' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card admin-card">
                <img src="{% static 'images/relatorios.png' %}" class="card-img-top admin-card-img" alt="Relatórios">
                <div class="card-body text-center">
                    <h5 class="card-title">Relatórios</h5>
                    <p class="card-text">Gere relatórios detalhados.</p>
                    <a href="{% url 'reports' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card admin-card">
                <img src="{% static 'images/relatorios.png' %}" class="card-img-top admin-card-img" alt="Conteúdo Teórico">
                <div class="card-body text-center">
                    <h5 class="card-title">Conteúdo Teórico</h5>
                    <p class="card-text">Acesse o conteúdo teórico organizado.</p>
                    <a href="{% url 'menu_teorico' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card admin-card">
                <img src="{% static 'images/dados.png' %}" class="card-img-top admin-card-img" alt="Em Desenvolvimento">
                <div class="card-body text-center">
                    <h5 class="card-title">Em Desenvolvimento</h5>
                    <p class="card-text">Novas funcionalidades serão adicionadas aqui.</p>
                    <a href="#" class="btn btn-secondary disabled">Em Breve</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}